$color-core: #0f83a8;
$black-10: #0000001a;
$black-100: #000000;
$black-20: #00000033;
$black-25: #00000040;
$black-3: #00000008;
$black-35: #00000059;
$black-45: #00000073;
$black-60: #00000099;
$black-7: #00000012;
$black-75: #000000bf;
$blue-blue-100: #f0f0ff;
$blue-blue-200: #c6eef8;
$blue-blue-300: #73b6ff;
$blue-blue-400: #3998ff;
$blue-blue-500: #007aff;
$blue-blue-600: #0062cc;
$blue-blue-700: #004999;
$blue-blue-800: #003166;
$blue-blue-900: #021738;
$gray-gray-100: #f4f4f6;
$gray-gray-200: #e7e7e9;
$gray-gray-300: #cfcfda;
$gray-gray-400: #b2b2bd;
$gray-gray-500: #9797a0;
$gray-gray-600: #777783;
$gray-gray-700: #5a5a66;
$gray-gray-800: #1f1f28;
$gray-gray-900: #101016;
$green-green-100: #effbf2;
$green-green-200: #effbf2;
$green-green-300: #effbf2;
$green-green-400: #effbf2;
$green-green-500: #35c759;
$green-green-600: #2ead4e;
$green-green-700: #005800;
$green-green-800: #11401d;
$green-green-900: #11401d;
$red-red-100: #ffd6d2;
$red-red-200: #ff9c98;
$red-red-300: #ff766e;
$red-red-400: #ff564b;
$red-red-500: #ff3b30;
$red-red-600: #b2231a;
$red-red-700: #850700;
$red-red-800: #5c0500;
$red-red-900: #4d0000;
$white-10: #ffffff1a;
$white-100: #ffffff;
$white-20: #ffffff33;
$white-25: #ffffff40;
$white-3: #ffffff08;
$white-35: #ffffff59;
$white-45: #ffffff73;
$white-60: #ffffff99;
$white-7: #ffffff12;
$white-75: #ffffffbf;
$yellow-yellow-100: #fff3c2;
$yellow-yellow-200: #ffe270;
$yellow-yellow-300: #ffda47;
$yellow-yellow-400: #ffd21f;
$yellow-yellow-500: #f5c400;
$yellow-yellow-600: #cca300;
$yellow-yellow-700: #a38300;
$yellow-yellow-800: #7a6200;
$yellow-yellow-900: #524002;

$contents-default-primary: $gray-gray-900;
$contents-default-quaternary: $gray-gray-500;
$contents-default-secondary: $gray-gray-700;
$contents-default-tertiary: $gray-gray-600;
$contents-status-negative: $red-red-500;
$contents-status-positive: $green-green-500;
$contents-status-unable: $gray-gray-300;
$contents-status-unselected: $gray-gray-400;
$contents-status-warning: $yellow-yellow-500;
$background-dim-accent: $black-75;
$background-dim-default: $black-45;
$background-gray-border: $gray-gray-200;
$background-gray-default: $gray-gray-100;
$background-gray-default-pressed: $gray-gray-200;
$background-gray-elevated: $white-100;
$background-gray-elevated-pressed: $gray-gray-100;
$background-negative-border: $red-red-600;
$background-negative-default: $red-red-500;
$background-negative-default-pressed: $red-red-600;
$background-negative-elevated: $red-red-100;
$background-negative-elevated-pressed: $red-red-200;
$background-positive-border: $green-green-600;
$background-positive-default: $green-green-500;
$background-positive-default-pressed: $green-green-600;
$background-positive-elevated: $green-green-100;
$background-positive-elevated-pressed: $green-green-200;
$background-warining-border: $yellow-yellow-600;
$background-warining-default: $yellow-yellow-500;
$background-warining-default-hover: $yellow-yellow-600;
$background-warining-elevated: $yellow-yellow-100;
$background-warining-elevated-pressed: $yellow-yellow-200;

/* color */
$core-color: $color-core;
$fixed-backgound-white: $white-100;
$fixed-contents-accent: $black-100;
$fixed-contents-alternative: $black-45;
$fixed-contents-default: $black-75;
$fixed-contents-neutral: $black-60;
$variable-background-button: $black-7;
$variable-background-component: $black-20;
$variable-background-default: $white-100;
$variable-contents-accent: $black-100;
$variable-contents-alternative: $black-45;
$variable-contents-default: $black-75;
$variable-contents-neutral: $black-60;
